.grandpa, .grandpa div{
    border: 1px solid #8a6ae2;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px #00000046;
}
.grandpa h2, .grandpa h4, .grandpa p{
    margin: 0;
}